.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
  background-color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 14px;
  transition: transform 0.15s;
}

.card:hover {
  transform: scale(1.04);
  filter: drop-shadow(0 0 15px white);
}

.name {
  margin-bottom: 0;
  color: black;
}

.img {
  width: 250px;
  filter: drop-shadow(0 0 30px #fff);
}

.types {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: black;
  font-weight: bold;
}

.imgCont {
  background-color: #5f8319;
  width: 100%;
  height: 100%;
  border-radius: 14px 14px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
